body
{
	background-color:Cyan;
}
.wrapper
{
	margin:150px;
	border:1px;
	  box-shadow: 30px 30px 30px 30px #888888;

}
.header
{
	background-color:LightGray;
	text-align:center;
    font-family: cursive;;

	
}

.content
{
	background-color:white;
	margin:0;
		overflow: hidden;

	

}
.footer
{
	background-color:white;
	text-align: center;
	font-size:30px;
}
.movies
{
	
}
.del
{
	float:right;
	background-color:BlueViolet;
	border-radius: 6px;
	padding:6px;
	font-size:20px;
	margin-right:20px;

}
li{
	padding: 5px;
	margin:10px;
	font-size: 40px;
	list-style-type: none;
	border-left: 5px solid #ddd;
}
.name
{
	font-size:30px;
	font-family: cursive;
}
.title
{
	margin-left:40px;
	font-family: serif;
}
.search
{
	border-radius: 5px;
	width:300px;
	height:30px;
	border:none;
	margin-bottom: 20px;
}
.del:hover
{
	background-color: black;
	color:white;
}
#add
{
	border-radius: 5px;
	width:300px;
	height:30px;
	
	padding: 2px;
}
.addb
{
	background-color:BlueViolet;
	height: 35px;
	width: 70px;
	color:white;
	border-radius: 5px;
	border:none;
	margin-bottom: 30px;
}
li:hover{
    border-color:#9361bf;
}
#hide
{
	font-family: cursive;
}